
#timeline-wrap, 
#timeline-title,
#timeline,
.timeline-item,
.timeline-info, 
.timeline-body, 
.timeline-meta {
    margin: 0;
    padding: 0;
    position: relative;
}
#timeline-wrap ul {
    list-style: none;
}
#timeline-wrap ul li {
    list-style-type: none;
}

/* The Timeline */
#timeline-title {
    margin-bottom: 20px;
    border-bottom: 1px solid silver;
}
.timeline-title h1 {
    font-size: 2em;
    margin: 0;
}

#timeline-wrap {
    /*background-color: #f0f0f0;
    padding: 20px;*/
}

.timeline-item {
    margin: 0 0 20px 50px;
}

.timeline-item::before {
    content: "";
    position: absolute;
    width: 3px;
    background-color: silver;
    top: 0px;
    bottom: -20px;
    margin-left: -37px;
}
.timeline-item:first-child::before {
    top: 30px;
}
.timeline-major {
    position: absolute;
    font-size: 0.6em;
}
.timeline-major {
    right: 32px;
    top: 5px;
}
.timeline-expand-button {
    font-size: 0.6em;
    position: absolute;
    right: 10px;
}

/* The icon */
.dashicons {
    position: absolute;
    left: -50px;
    top: 15px;
    height: 30px;
    width: 30px;
    line-height: 30px;
    background-color: #df002a;
    color: white;
    border-radius: 50%;
    z-index: 1;
}
.dashicons-clock, .dashicons-arrow-down {
    font-size: 14px;
    color: inherit;
    margin: 0;
    padding: 0;
    position: relative;
    border: none;
    background-color: transparent;
    height: 12px;
    width: 12px;
        
}
.dashicons-clock {
    top: -4px;
    left: -2px;
}
.dashicons-arrow-down {
    border: 1px solid silver;
    border-radius: 3px;
    left: 0;
    top: 0px;
}
.dashicons-arrow-down:before{
    left: -2px;
    top: -10px;
    position: absolute;
}
.dashicons-arrow-down:hover {
    background-color: white;
    border-color: #df002a;
    color: #df002a;
}
.dashicons-star-empty {
    top: 0;
    left: 0;
    font-size: 14px;
    background-color: transparent;
    border: none;
    color: #df002a;
    z-index: 1;
}

/* The arrow */
.timeline-info, .timeline-info-expand {
    background-color: white;
    padding: 20px;
    border: 1px solid silver;
    border-radius: 10px;
}
.timeline-info {
    background-color: #f9f9f9;
}
.hovered {
    border: 1px solid #df002a;
    background-color: white;
    margin-bottom: 0px;
    /* border-bottom: 1px solid silver; */
    border-radius: 10px;
    box-shadow: 0px 2px 4px #999;
}
/*
.timeline-info, .timeline-info-expand, .timeline-body {
    margin: -1px;
}*/

.timeline-info:before, 
.timeline-info:after, 
.timeline-info-expand:before,
.timeline-info-expand:after {
    content: '';
    width: 0; 
    height: 0; 
    border: solid transparent;
    position: absolute;
    pointer-events: none;
    right: 100%;
}
.timeline-info:before, .timeline-info-expand:before {
    border-right-color: silver;
    border-width: 15px;
    top: 15px;
}
.timeline-info:after, .timeline-info-expand:after {
    border-right-color: #f9f9f9;
    border-width: 13px;
    top: 17px;
}
.timeline-info-expand:before, .timeline-info-expand:after {
    margin-right: -1px;
}
.timeline-info-expand:after {
    border-right-color: white;
}
.active:before, .hovered:before {
    border-right-color: #df002a;
}
.active:after, .hovered:after {
    border-right-color: white;
}

.timeline-body {
    clear: both;
    border-top: 1px solid silver;
    padding: 20px;
    margin: 20px -20px -20px;
}

.show-all {
    border-color: silver;
    box-shadow: none;
}

.timeline-info .show-all {
    border-radius: 0px;
}

.timeline-expand-all-button {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 2px 10px;
    border-left: 1px solid silver;
    border-right: 1px solid silver;
    background-color: transparent;
    color: silver;
    margin-top: 5px;
}

.timeline-image {
    border-bottom: 1px solid silver;
    margin: -20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f0f0f0;
}

.timeline-meta {

}

.timeline-type, .timeline-difficulty, .timeline-satisfaction {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.timeline-type li, .timeline-difficulty li, .timeline-satisfaction li, .timeline-author {
    list-style-type: none;
    margin-left: 20px;
    display: inline;
}
.timeline-type li a, .timeline-difficulty li a, .timeline-satisfaction li a {
    background-color: silver;
    color: white;
    border-radius: 10px;
    padding: 2px 10px;
    text-decoration: none;
    margin-top: 3px;
}
.timeline-type li a:hover, .timeline-difficulty li a:hover, .timeline-satisfaction li a:hover {
    background-color: #df002a;
}

.active {
    border-color: #df002a;
    background-color: white;
    border-bottom: 1px solid silver;
    border-radius: 10px 10px 0 0;
    box-shadow: none;
}

.timeline-data-thumb {
    width: 80%;
    margin-left: 80px;
}



.timeline-date, .timeline-type, .timeline-author {
    float: left;
    font-size: 0.8em;
    color: #999;
}
.timeline-type {
    
}
.timeline-thumb img {
    float: left;
    width: 60px;
    border-radius: 5px;
}

.timeline-item-title {
    color: #555;
    font-weight: 500;
    font-size: 1.3em;
}
.timeline-item-title a {
    color: #555;
    text-decoration: none;
}
.timeline-item-title a:hover {
    text-decoration: underline;
    color: black;
}
.timeline-data, .timeline-item-title {
    width: 100%;
    float: left;
}
.timeline-item-title {
    margin-top: 5px;
}
.timeline-data-thumb {
    width: 80%;
}
.timeline-feeling {
    font-size: 0.8em;
    margin-top: 20px;
    padding: 20px 0 25px;
    border-top: 1px solid silver;
    opacity: 0.6;
}
.timeline-feeling ul {
    float: left;
    width: 50%;
}
.timeline-difficulty li, .timeline-satisfaction li {
    margin-left: 5px;
}
.timeline-difficulty li a, .timeline-satisfaction li a {
    padding: 1px 7px;
}


.timeline-clear {
    clear: both;
}