// Main styles
* { // The following styles allow the elements to have percentage widths INCLUSIVE of their padding
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
html, body, .wrap {
    min-height: 100%;
}

.timeline-wrap, .timeline-info {
    background-color: #efefef;
    padding: 20px;
    position: relative;
}

.timeline-body {
    clear: both;
    background-color: white;
    padding: 20px;
    display: none;
}
.timeline-info {
    border: 1px solid silver;
    border-radius: 5px;
}
.timeline-info:hover {
    border: 3px solid #df002a;
    background-color: white;
    margin: -2px;
}
.timeline-info::before {
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    border-right: 10px solid blue;
    z-index: 999;
}
.timeline-item {
    margin: 0 0 20px 50px;
}

.timeline-item::before {
    content: "";
    position: absolute;
    width: 3px;
    background-color: silver;
    top: 120px;
    bottom: 20px;
    margin-left: -37px;
}
.timeline-item:first-child::before {
    top: 50px;
}
.date {

}

.dashicons::before {
    height: 20px;
    width: 20px;
    border: 5px solid #df002a;
    background-color: #df002a;
    color: white;
    border-radius: 50%;
    margin: -10px 0;
    position: absolute;
    left: -50px;
    z-index: 999;
}
.meta {
    margin-top: -30px;
    padding-bottom: 20px;
}
.meta div {
    float: left;
}

.type ul, .difficulty ul, .satisfaction ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.type ul li, .difficulty ul li, .satisfaction ul li, .author {
    list-style-type: none;
    margin-left: 20px;
    display: inline;
}
.type ul li a {
    background-color: silver;
    color: white;
    border-radius: 10px;
    padding: 3px 10px;
    text-decoration: none;
    margin-top: 3px;
    font-size: 0.8em;
}
.type ul li a:hover {
    background-color: #df002a;
}

.timeline-title {
    border-bottom: 1px solid silver;
    margin-bottom: 20px;
}
.timeline-title h1 {
    font-size: 2em;
}



img {
    /* width: 10px; */
}
.title {
    
}