/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 19, 2014, 5:05:25 AM
    Author     : jekkilekki
*/

.timeline-wrap {
    background-color: #efefef;
    padding: 20px;
}

.timeline-title {
    font-size: 2em;
    border-bottom: 1px solid silver;
}

.timeline-item {
    background-color: white;
    padding: 20px;
}

img {
    /* width: 10px; */
}