// Main styles
* { // The following styles allow the elements to have percentage widths INCLUSIVE of their padding
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
html, body, .wrap {
    min-height: 100%;
}

.timeline-wrap {
    background-color: #efefef;
    padding: 20px;
}

.timeline-title {
    font-size: 2em;
    border-bottom: 1px solid silver;
}

.timeline-item {
    background-color: white;
    padding: 20px;
}

img {
    /* width: 10px; */
}